<h1 class="m-5">マンダラートの一覧</h1>
  <% if @mandalas %>
    <% @mandalas.each do |mandala| %>
      <div class="m-5">
        <%= mandala.name %><br>
        <%= link_to '詳細を見る', mandala_path(mandala) %>
      </div>
    <% end %>
  <% end %>
<div class="m-5">
  <%= link_to '新規作成', new_mandala_path %>
</div>
