<h1><%= current_user.name %>のマンダラートの一覧</h1>
<ul>
  <% if @mandalas %>
    <% @mandalas.each do |mandala| %>
      <li><%= mandala.name %></li>
      <%= link_to '詳細を見る', mandala_path(mandala) %>
    <% end %>
  <% end %>
</ul>

<%= link_to '新規作成', new_mandala_path %>
