<% content_for :scss do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<h1 class="m-5">Idea Memory</h1>
<% if !user_signed_in? %>
  <h2 class="mb-5">概要</h2>
  <p>Idea Memoryとは、</p>
  <p>アイデア出しをするためのマンダラートを作成できるWebサービスです</p>
  <p class="mb-5">新規登録・ログインをして早速始めてみましょう</p>
  <div class="mt-5" style="background-color:white;">
    <h3 class="mt-5 pt-5">主な機能</h3>
    <h4 class="mt-5">マンダラート作成機能</h4>
    <div class="container-fluid center-block mb-4" style="max-width: 800px;">
      <div class="row">
        <% range = 1..9 %>
        <% range.each do |i| %>
          <div class="col-sm-4 p-1">
            <div class="container-fluid">
              <div class="row">
                <% range.each do |j| %>
                  <div class="col-4 p-0">
                    <textarea class="cell" id="body<%= i %><%= j %>" cols="5" rows="2" wrap="soft" style=""></textarea>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>
<% else %>
  <p>マンダラートを使ってアイデア出しを始めてみましょう</p>
  <p class="mb-5">今日もアイデアが溢れる1日をお過ごしください</p>
  <h2 class="m-5">マンダラート機能</h2>
  <%= link_to mandalas_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
      <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
    </svg>
  <% end %>
<% end %>

<script>
  for (let i = 1; i < 10; i++) {
    document.addEventListener("DOMContentLoaded", function () {
      var inTextarea1 = document.getElementById(`body5${i}`);
      var outTextarea1 = document.getElementById(`body${i}5`);
      
      var inTextarea2 = document.getElementById(`body${i}5`);
      var outTextarea2 = document.getElementById(`body5${i}`);
      
      inTextarea1.addEventListener("input", function () {
          outTextarea1.value = inTextarea1.value;
      });

      inTextarea2.addEventListener("input", function () {
          outTextarea2.value = inTextarea2.value;
      });
    });
  }
</script>
