// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.li {
  margin:20px;
  text-align: left;
}
.relative {
  position: relative;
}
.absolute {
  position :absolute;
  right:-20px;
  top:-40%;
}
.cell {
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 85%;
}

.cell::-webkit-scrollbar{
  display: none;
}

.title {
  margin:100px 50px 1rem;
}

textarea {
  width: 100%;
  height: 60px;
  line-height: 1;
  padding: 20px 0px;
  resize: none;
}

.des,.des-2{
  margin:10% 25%;
  padding: 5%;
  background: linear-gradient(to right,#c0ddff, #4ea0ff);
  transform: skew(3deg)
  // 10 5 5
}

.des-2 li {
  text-align: left;
  list-style-type: circle;
  margin: 0 50px;
}
.normal {
  transform:skew(-3deg);
}
.des-func {
  margin:0;
  padding: 2%;
  background: linear-gradient(to right, #FFFFFF,#4ea0ff);
  transform: skewY(3deg)
  // 10 5 5
}
@media (max-width:1500px) {
  .absolute {
    position :absolute;
    width:40%;
    height:50%;
    right: 0px;
    top:-30%;
  }
  .des,.des-2{
    margin:20%;
    padding: 10% 5%;
    background: linear-gradient(to right,#c0ddff, #4ea0ff);
    transform: skew(3deg)
    // 10 5 5
  }
}

@media (max-width:430px) {
  .absolute {
    position :absolute;
    width:50%;
    height:40%;
    right:-30px;
    top:-20%;
  }
  .des {
    margin:20% 5%;
    padding: 20% 5%;
    background: linear-gradient(to right,#c0ddff, #4ea0ff);
    transform: skew(2deg)
  }
  .des-2 {
    margin:20% 5%;
    padding: 10% 5%;
    background: linear-gradient(to right,#c0ddff, #4ea0ff);
    transform: skew(2deg)
  }
  .normal {
    transform:skew(-2deg);
  }
  .des-func {
    margin: 5% 0;
    background: linear-gradient(to right, #FFFFFF,#4ea0ff);
    transform: skewY(3deg)
    // 10 5 5
  }
  h1 {
    size:6px;
  }

  p {
    size:3px;
  }
  .visible {
    margin:30% 0;
  }
  .hidden {
    display:none;
  }
}