// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .cell {
//   background-color: white;
//   display: flex;
//   text-align: center;
//   font-size: 85%;
// }
// textarea{
//   resize: none;
//   width:100%;
//   height:60px;
// }

.cell {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 85%;
}

textarea {
  resize: none;
  width: 100%;
  height: 60px;
  line-height: 1; /* テキストを垂直方向に中央に配置するための line-height */
  padding: 20px 0px;
}

