<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <i class="fa-solid fa-user"></i>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-user"></i>  Home
            <% end %>
          </li>
          <li>
            <%= button_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i>  ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa-solid fa-user-plus"></i>  新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-right-to-bracket"></i>  ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>